.title {
  background-color: none;
  width: 600px;
  display:flex;
  justify-content: space-between;
  margin: 0 auto;
  margin-top: 18px;
}
.subtitle{
  background-color: none;
  width: 600px;
  margin: 0 auto;
}
.estimate_box{
  background-color: none;
  width: 600px;
  height: 500px;
  margin: 0 auto;
}

/*다음 페이지 넘김 버튼*/
.nextpage{
  background-color: none;
  width: 600px;
  height: 100px;
  margin: 0 auto;
  margin-top: 18px;
}
#go-back{
  margin-top: 5%;
  width: 30%;
  height: 45px;
  border-radius: 10px;
  background-color: rgb(247, 226, 169);
  border:none;
  font: bolder;
}
#go-next{
  margin-top: 5%;
  width: 69%;
  height: 45px;
  border-radius: 10px;
  background-color: rgb(235, 103, 3);
  border:none;
  font: bolder;
  color: white;
}
.nextpage button:hover{
  cursor: pointer;
}

#li_01{
  display: flex;
}