@charset "UTF-8";
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

/*포트폴리오 본문*/
.port_wrap{
	display:flex;
	justify-content: space-between;
	margin-top : 40px;
}
/*드롭다운*/
.dropdown{
  height : 70px;
  float:left;
  margin-left : 50px;
}

.dd_group {
	width: 120px;
	height: 30px;
	border: 1px solid #C4C4C4;
	box-sizing: border-box;
	margin-left : 10px;
	border-radius: 5px;
	font-family: 'Malgun-Gothic';
	font-size: 14px;
	line-height: 50px;
}

.dd_group:focus {
	border: 1px solid #00704a;
	box-sizing: border-box;
	border-radius: 10px;
	outline: 1px solid #00704a;
	border-radius: 2px;
}

/*검색창 부분*/
.search {
	width:100%;
	float: right;
	display: flex;
	margin-right : 20px;
}

.search_nav > ul{
	list-style:none;
}

#searchTerm {
  width: 50%;
  border-bottom: 1px solid #00704a;
  border-top : none;
  border-left : none;
  border-right: none;
  text-align : center;
  padding: 5px;
  height: 20px;
  outline: none;
  color: #00704a;
}

#searchTerm:focus{
  color: #00704a;
}

.search_Btn {
  width: 40px;
  margin-bottom : 40px;
  margin-left : 2px;
  text-align: center;
  color: #00704a;
  cursor: pointer;
  font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.search_wrap{
  width: 30%;
}

/*프리미엄 포트폴리오*/

.premium_comp {
	margin-top : 30px;
}

.outer {
  /* border: 6px solid white; */
  width: 95%;
  height: 300px;
  margin: 0 auto;
  overflow-x: hidden; 
} 

.inner-list {
display: flex;
transition: .3s ease-out;
height: 100%;
}

.inner {
  padding: 0 16px; 
}

.inner img {
	width : 100%;
	height : 90%;
	object-fit: cover;
}
.button-left,.button-right{
	display : none;
}

.button-list {
  text-align: center;
}

/* .button-left {
	border:0;
	border-radius : 5px;
	font-size : 1.2rem;
	text-align : center;
	width : 8%;
	height : 40px;
	background-color : #006633;
	font-family : '맑은고딕';
	font-weight : bold;	
	color : white;
	margin-top : 15px;
	display : none;
}

.button-right {
	border:0;
	border-radius : 5px;
	font-size : 1.2rem;
	text-align : center;
	width : 8%;
	height : 40px;
	background-color : #006633;
	font-family : '맑은고딕';
	font-weight : bold;	
	color : white;
	margin-top : 15px;
	display : none;
} 


/*포트폴리오 본문*/

/* 전체 */
.construction_list {
	width: 100%;
	margin: 0 auto;
}

.top_title {
	display : flex;
	justify-content : center;
	font-family : '맑은고딕';
	font-size : 1.6rem;
	font-weight: bold;
	background-color: #f4f4f2;
	margin-bottom : 20px;
	padding:20px 0px;
	
}

/* 포트폴리오가 없을 시*/
#none_pf {
	display : flex;
	font-size : 2.0rem;
	color : #347844;
	margin: 0 auto ; 
	font-weight: 200px;
	margin-top: 50px;
	
}

/* 카드리스트 */
.cards-list {
	flex-wrap : wrap;
	width: 80%;
	display: flex;
	justify-content: space-between;
	margin : 0 auto;
}

/* 개별카드 */

.card-list {
	width : 100%;
	word-break:break-all;
	word-wrap:break-word;
}

.card {
	width: 30%;
	margin: 10px;
	display: flex;
	flex-direction: column;
}  



.card_image img {
	width: 100%;
	height: 280px;
	border-radius: 5px 5px 5px 5px;
	object-fit: cover;
	display: flex;
}

.card_title {
	border-radius: 0px 0px 5px 5px;
	/* background-color:#92d1fc; */
	height: 70px;
	width: 100%;
}

.corp {
	list-style: none;
	text-align: center;
	font-size: 1.3rem;
	font-family:'Malgun-Gothic';
	color : #347844;
	line-height: 1.9;
	font-weight : 1000;
}

@media all and (max-width: 500px) {
  .card-list {
    /* On small screens, we are no longer using row direction but column */
    flex-direction: column;
  }
}

.card:hover {
  transform: scale(0.98, 0.98);
}

.card_tag {
	font-size: 0.9rem;
	list-style: none;
	text-align: center;
	line-height: 1.9;
	font-weight : 700;
}
