@charset "UTF-8";
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

/*포트폴리오 본문*/
.port_wrap{
	display:flex;
	justify-content: space-between;
	margin-top : 40px;
}
/*드롭다운*/
.dropdown{
  height : 70px;
  float:left;
}

.dd_group {
	width: 100px;
	height: 30px;
	border: 1px solid #C4C4C4;
	box-sizing: border-box;
	border-radius: 10px;
	font-family: '여기어때 잘난체';
	font-size: 14px;
	line-height: 50px;
}

.dd_group:focus {
	border: 1px solid #9B51E0;
	box-sizing: border-box;
	border-radius: 10px;
	outline: 3px solid #a7ee8e;
	border-radius: 10px;
}

/*검색창 부분*/
.search {
	width:100%;
	float: right;
	display: flex;
}

.search_nav > ul{
	list-style:none;
}

#searchTerm {
  width: 100%;
  border: 3px solid #00B4CC;
  border-right: none;
  padding: 5px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9DBFAF;
}

#searchTerm:focus{
  color: #00B4CC;
}

.search_Btn {
  width: 40px;
  height: 36px;
  border: 1px solid #00B4CC;
  background: #00B4CC;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.search_wrap{
  width: 30%;
}

/*프리미엄 포트폴리오*/

.premium_comp {
	margin-top : 30px;
}

.outer {
<<<<<<< HEAD
  border: 6px solid royalblue;
  width: 80%;
=======
  border: 6px solid royalblue;  
  width: 95%;
>>>>>>> 96f1bafe4b4bba6d2f46cdcfad2185aef2eb6ca7
  height: 300px;
  margin: 0 auto;
  overflow-x: hidden;
} 

.inner-list {
  display: flex;
 transition: 1.5s ease-out; 
 /* transition : linear;
  transition-delay : delay; */
  height: 100%;
}

.inner {
/*  border: 6px solid olive;  */
  padding: 0 16px; 
}

.button-list {
  text-align: center;
}

<<<<<<< HEAD
.button-left {
=======
.button-left,.button-right{
	display : none;
}

/* .button-left {
>>>>>>> 96f1bafe4b4bba6d2f46cdcfad2185aef2eb6ca7
	border:0;
	border-radius : 5px;
	font-size : 1.2rem;
	text-align : center;
	width : 8%;
	height : 40px;
	background-color : #006633;
	font-family : '맑은고딕';
	font-weight : bold;	
	color : white;
	margin-top : 15px;
	display : none;
}

.button-right {
	border:0;
	border-radius : 5px;
	font-size : 1.2rem;
	text-align : center;
	width : 8%;
	height : 40px;
	background-color : #006633;
	font-family : '맑은고딕';
	font-weight : bold;	
	color : white;
	margin-top : 15px;
	display : none;
} 


/*포트폴리오 본문*/

/* 전체 */
.construction_list {
	width: 100%;
	margin: 0 auto;
}

.top_title {
	display : flex;
	justify-content : center;
	font-family : '맑은고딕';
	font-size : 1.6rem;
	font-weight: bold;
	background-color: #f4f4f2;
	margin-bottom : 20px;
	padding:20px 0px;
	
}
/* 카드리스트 */
.cards-list {
	width: 80%;
	display: flex;
	justify-content: space-between;
	margin : 0 auto;
	
}

/* 개별카드 */

.card-list {
	width : 100%;
	word-break:break-all;
	word-wrap:break-word;
}

.card {
	width: 30%;
	margin: 10px;
	display: flex;
	flex-direction: column;
}  



.card_image img {
	width: 100%;
	height: 280px;
	border-radius: 5px 5px 5px 5px;
	object-fit: cover;
	display: flex;
}

.card_title {
	border-radius: 0px 0px 5px 5px;
	/* background-color:#92d1fc; */
	height: 70px;
	width: 100%;
}

.corp {
	list-style: none;
	text-align: center;
	font-size: 1.1rem;
	font-family:'여기어때 잘난체';
	line-height: 1.9;
	font-weight : 300;
}

@media all and (max-width: 500px) {
  .card-list {
    /* On small screens, we are no longer using row direction but column */
    flex-direction: column;
  }
}

.card:hover {
  transform: scale(0.98, 0.98);
}

.card_tag {
	font-size: 0.9rem;
	list-style: none;
	text-align: center;
	line-height: 1.9;
	font-weight : 700;
}
